name: Unit tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12"]
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run pytest
        if: matrix.os != 'ubuntu-latest' || matrix.python-version != '3.12'
        run: |
          uv run --python ${{ matrix.python-version }} pytest tests

      - name: Run pytest with coverage
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12'
        run: |
          uv run --python ${{ matrix.python-version }} pytest --cov=ionworks_schema --cov-report=xml tests

      - name: Upload coverage report
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12'
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
